.chat-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #007bff;
  color: white;
  font-size: 24px;
  padding: 12px;
  border-radius: 50%;
  cursor: pointer;
}

.chat-popup {
  position: fixed;
  bottom: 80px;
  right: 20px;
  width: 320px;
  height: 420px;
  background: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.chat-header {
  padding: 10px;
  background: #007bff;
  color: white;
  display: flex;
  justify-content: space-between;
}

.chat-body {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  display: flex;            
  flex-direction: column;     
}


.message {
  margin: 6px 0;
  padding: 8px 12px;
  border-radius: 8px;
  max-width: 80%;
}

.message.user {
  background: #dcf8c6;
  align-self: flex-end;
}

.message.bot {
  background: #f1f1f1;
  align-self: flex-start;
}

.chat-input {
  display: flex;
  padding: 8px;
}

.chat-input input {
  flex: 1;
  padding: 6px;
}
.chat-input {
  display: flex;
  gap: 8px;
  padding: 10px;
}

.mic {
  font-size: 18px;
  background: #427dc1;        
  color: white;
  border: none;
  border-radius: 6px;
  padding: 6px 10px;
  cursor: pointer;
}

.mic.active {
  background: rgb(0, 187, 255);
  
}
.send-btn {
  font-size: 20px;
  padding: 8px 14px;
  border-radius: 50%;
  background: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.send-btn:disabled {
  background: #aaa;
  cursor: not-allowed;
}
.sender-label {
  font-size: 11px;
  font-weight: bold;
  margin-bottom: 4px;
  opacity: 0.6;
}
.message.user .sender-label {
  text-align: right;
}
.message.bot .sender-label {
  text-align: left;
}
.option-buttons {
  display: flex;
  gap: 8px;
  margin-top: 10px;
  flex-wrap: wrap;
}

.option-btn {
  background: #eef3ff;
  border: 1px solid #007bff;
  color: #007bff;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 13px;
}

.option-btn:hover {
  background: #007bff;
  color: white;
}

